//-------- NAV ---------
.nav-bar {
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	padding: 30px;
	background-color: var(--background-color);
	position: sticky;
	top: 0;
	z-index: 10;
	align-items: center;
	font-size: 1vw;

	ul {
		list-style-type: none;
	}

	.nav-logo {
		text-decoration: none;
		font-size: 30px;
		font-weight: 700;
		font-family: linotype-didot, serif;
		color: var(--title-color);
	}
}

//--------BODY---------
.informationWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background-color);
	height: 100vh;
	flex-direction: column;

	.homeInformationSection {
		max-width: 950px;
		display: flex;
		flex-direction: column;
		margin-bottom: var(--header-height);


		.personal-information {
			text-align: center;
			line-height: 1.5;
			margin-top: 10px;
		}
	}
}

//--------PROJECTS ---------
.main-wrapper {
	.project {
		margin-top: 70px;
		display: grid;
		img {
			width: 950px;
		}
	}

	.hasMarginBottom{
		margin-bottom: 35px;
	}

		.imageFullScreen {
			img {
				width: 100%;
			}

			
		}

		.imageAndImage {
			display: grid;
			grid-template-columns: 1fr 1fr;
			max-width: 950px;
			grid-gap: 5px;

			img {
				width: 100%;
			}

			.img-test {
				object-fit: cover;
			}
		}

		.imagesGallery {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			max-width: 950px;

			img {
				width: 100%;
			}
		}
	
.textAndImage{
	display: grid;
	grid-template-columns: 75% 25%;
	max-width: 950px;
	grid-gap: 20px;

	img {
		width:100%;
	}
	
}

	.pattern{
		width: 100%;
		height: 100px;
		background-color: rgb(255, 207, 50);
	}

	// --------------------

	footer {
		margin-bottom: 100px;

		h4 {
			color: var(--title-color);
			font-size: 20px;
			margin-bottom: 10px;
		}
		.icon {
			a {
				color: var(--title-color);
				font-size: 25px;

				& + a {
					margin-left: 10px;
				}

				&:hover {
					color: #000855;
				}
			}
		}
	}
}
