@import url('https://fonts.googleapis.com/css?family=Overpass:300,400,600,700&display=swap');

:root{
    --primary-color:#77c0ce;
    --background-color:#fdf9fc;
    --title-color:#254a83;
    --primary-font: 'Overpass', sans-serif;
    --header-height: 100px;
}
